*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    border: 1px solid red;
    width: 100%;
    height: 110px;
    background-color: rgb(61, 61, 60);

    --img1:scale(1);
    --img2:scale(0);
}

header:has(.menu_desplegable:target){
    --img1:scale(0);
    --img2:scale(1);
    --click:inset(0 0 0 0);
}

/*---------------titulo y menu---------------------*/

.contenedor{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "img title";
    justify-content: space-between;
}



#titulo{
    font-size: 55px;
    text-align: center;
    grid-area: title;
    margin-right: 500px;
}

.nav_menu{
    grid-area: img;
    position: relative;
    z-index: 10;
    transform: var(--img1);
    margin-left: -50px;
}

.nav_menu--segundo{
    transform: var(--img2);
}

.icono{
    width: 60px;
    display: block;
}

.menu_desplegable{
    z-index: 2;
    position: absolute;
    background-color: black;
    max-width: 300px;
    width: 35%;
    left: 0;
    top: 0;
    bottom: 0;

    padding: 1em;
    display: grid;
    align-content: center;
    gap: 1rem;
    overflow-y:auto;

    clip-path: var(--click, inset(0 100% 0 0));
    transition: clip-path .5s;
}

/*----------------------------contenido del menu desplegable-------------------*/

.lista-desplegable{
    list-style: none;
}

.desplegable-link{
    color: #fff;
    padding: 1em .7em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .6rem;
    position: relative;

    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.desplegable-check{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.lista-desplegable:has(:checked){
    --rows:1fr;
    --rotacion: rotate(180deg);
    --bg:#28303b;
}

.flecha{
    margin-left: auto;
    transform: var(--rotacion, 0);
    transition: .2s transform;
}
/*------------sub Menu-----------*/
.contenido-menu{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.sub-menu{
    overflow: hidden;
}

.menu-li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.ancla-menu{
    padding: 1em 0;
    display: block;
    color: #b6babe;
    text-decoration: none;
}


/*---------------FONDO----------------*/

.fondo{
    border:1px solid blue;
    background-image: url(../img/fondo2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1200px;
    opacity: 0.7;
    position: relative;
}

.caja{
    position: absolute;
    border:1px solid red;
    width: 60%;
    height: 1100px;
    top: 180px;
    left: 260px;
}

.caja .foto{
    width: 809px;
    height: 1100px;
}

.cajaP{
    position: absolute;
    border: 1px solid black;
    width: 480px;
    height: 700px;
    top: 430px;
    left: 300px;
}

.cajaP ul{
    margin-left: 15px;
}

.cajaP ul li{
    font-size: 20px;
    margin-top: 10px;
}

/*------------FOOTER--------------*/

footer{
    background-color: rgb(61, 61, 60);
    border: 1px solid rgb(61, 61, 60);
    width: 100%;
    height: 100px;
    display: flex;
}

.link{
    width: 50%;
    height: 100%;
}

.derechos{
    width: 50%;
    height: 100%;
}

#derechos{
    margin-top: 70px;
    margin-left: 30px;
}
footer ul{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

footer ul li{
    list-style: none;
}

footer a, p{
    
    color:white;
    text-decoration: none;
}

.caja-footer P{
    border-bottom: 1px solid white;
    width: 45px;
}

.sub-footer{
    margin-top:2px;
    margin-left: -40px;
}