.body{
    margin: 70px;
    padding: 20px;
    border: 0;
    font-size: 100;
    vertical-align: baseline;
    overflow: visible;
    background:rgb(251, 251, 251);
    
}
body{
    height: 100vh !important;
    background: url(fondorestaurante.jpg);
    background-attachment: fixed;
    background-size: center;
    background-position: center ;
    text-align: center;
}
.titulo {
    text-align: center;
    height: top 0;
    color: black;
    font-size: 45px;
    border: 1px solid black;
    background-color: rgb(251, 192, 83);
}
.subtitulo{
    color: black;
    border-radius: 1rem;
    font-size: 35px;
    text-decoration: underline;
    font-family: "Arial", sans-serif;
    font-style: italic;
    text-align: left;
}
.contenido{
    color: black;
    background-color: gainsboro;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 25px;
    font-family: "Arial", sans-serif;
    text-align: left;
}
ul {
    list-style-type: none; /* Eliminar los puntos predeterminados */
  }
  
  ul li:before {
    content: "•"; /* Utilizar un punto personalizado */
    color: rgb(251, 192, 83); /* Color verde */
    display: inline-block;
    width: 10px;
    margin-right: 5px;
  }
